 {% load static %}
 {% block i %}
 <!--link rel="stylesheet" href="{% static 'css/style.css' %}"-->
 <!--link rel="stylesheet" href="{% static 'css/table.css' %}"-->
 <link rel="stylesheet" href="{% static 'css/value.css' %}">
 <link rel="stylesheet" href="{% static 'css/index.css' %}">

 <link rel="stylesheet" href="{% static 'css/table.css' %}">
 <!--link rel="stylesheet" href="{% static 'css/index.css' %}"-->
 <link rel="stylesheet" href="{% static 'css/chart.css' %}">
 {% include 'index.html' %}
{% block i %}
{% endblock  %}