<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    {% load static %}

  <div class="navbar"  style="background-image: url({% static 'images/HD.jpg' %}) ; ">
    <nav >
        <h2 class="logo">IOT</h2>

            <ul>
                   <li>  <a href="{% url 'table' %}" >Table</a></li>
                    <li>  <a href="{% url 'myChartTemp' %}" >Chart Temp</a></li>
                    <li>  <a href="{% url 'myChartHum' %}" >Chart Hum</a></li>
                    <li>  <a href="{% url 'json' %}" >Json</a></li>

            </ul>
            <p> </p>


    </nav>
</div>

</body>