<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    {% load static %}

  <div class="navbar"  style="background-image: url({% static 'images/HD.jpg' %}) ; ">
    <nav >

            <ul>
                   <li>  <a href="{% url 'table' %}" >Table</a></li>
                    <li>  <a href="{% url 'myChartTemp' %}" >Chart Temp</a></li>
                    <li>  <a href="{% url 'myChartHum' %}" >Chart Hum</a></li>
                    <li>  <a href="{% url 'json' %}" >Json</a></li>

            </ul>

            <form method="post" action="{% url 'index_view' %}">
                {% csrf_token %}

                <select id="select" name="select_field">

                  <option value="signup" selected>S'inscrire</option>
                  <option value="logout">Se déconnecter</option>
                </select>

              </form>
            <p> </p>


    </nav>
</div>

</body>
