
  <div class="navbar">
    <nav >
        <h2 class="logo">SURVEILLANCE IOT:CAPTEUR DHT11</h2>

            <ul>
                    <li>  <a href="{% url 'table' %}" >Table</a></li>
                    <li>  <a href="{% url 'myChartTemp' %}" >graph of temperature</a></li>
                    <li>  <a href="{% url 'myChartHum' %}" >graph of humidity</a></li>
                    <li>  <a href="{% url 'json' %}" >Json</a></li>


            </ul>
            <form method="post" action="{% url 'table' %}">
                {% csrf_token %}

                <select id="select" name="select_field">

                  <option value="signup" selected>S'inscrire</option>
                  <option value="logout">Se déconnecter</option>
                </select>

              </form>
            <p>  </p>


    </nav>
</div>
   <br>
   <br>
   <br>
  <br>